@media only screen and (min-width:992px) and (max-width:1200px) {
    .navigation {
        width: 133%;
    }

    div#popup {
        width: 133%;
    }

    .banner {
        width: 133%;
    }

    .spot {
        width: 133%;
        display: flex;
        flex-direction: column;
    }

    .ban1 {
        width: 133%;
    }

    .launch {
        width: 133%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .sell {
        width: 133%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .pay {
        width: 133%;
    }

    .face {
        width: 133%;
        display: flex;
        flex-direction: column;
    }

    .watch {
        width: 133%;
        display: flex;
        flex-direction: column;
    }

    .beware {
        width: 133%;
    }

    .video1 {
        width: 133%;
    }

    .brand {
        font-size: 20px;
    }

    .footer {
        width: 133%;
    }
}

@media only screen and (min-width:769px) and (max-width:991px) {
    .navigation {
        width: 171%;
    }

    div#popup {
        width: 171%;
    }

    .banner {
        width: 171%;
    }

    .spot {
        width: 171%;
        display: flex;
        flex-direction: column;
    }

    .ban1 {
        width: 171%;
    }

    .launch {
        width: 171%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .sell {
        width: 171%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .pay {
        width: 171%;
    }

    .face {
        width: 171%;
        display: flex;
        flex-direction: column;
    }

    .watch {
        width: 171%;
        display: flex;
        flex-direction: column;
    }

    .beware {
        width: 171%;
    }

    .video1 {
        width: 171%;
    }

    .brand {
        font-size: 20px;
    }

    .footer {
        width: 171%;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .navigation {
        width: 229%;
    }

    .nav1 {
        font-size: 20px;
        height: 60px;
    }

    .lit {
        width: 55%;
    }

    .store {
        width: 130px;
    }

    .nav2 {
        height: 80px;
    }

    .logo {
        height: 40px;
        width: 170px;
    }

    .find {
        font-size: 18px;
    }

    .div {
        width: 67%;
    }

    div#popup {
        width: 229%;
    }

    .nav3 {
        font-size: 18px;
    }

    .banner {
        width: 229%;
    }

    .spot {
        width: 229%;
        display: flex;
        flex-direction: column;
    }

    .ban1 {
        width: 229%;
    }

    .launch {
        width: 229%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .sell {
        width: 229%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .pay {
        width: 229%;
    }

    .face {
        width: 229%;
        display: flex;
        flex-direction: column;
    }

    .watch {
        width: 229%;
        display: flex;
        flex-direction: column;
    }

    .beware {
        width: 229%;
    }

    .video1 {
        width: 229%;
    }

    .brand {
        font-size: 25px;
    }

    .footer {
        width: 229%;
    }

    .LIP {
        font-size: 18px;
    }

    .text {
        font-size: 20px;
    }

    .btn {
        font-size: 15px;
    }

    .stay {
        font-size: 20px;
    }
}

@media only screen and (min-width:300px) and (max-width:575px) {
    .navigation {
        width: 397%;
    }

    .nav1 {
        font-size: 30px;
        height: 100px;
    }

    .fa-gift {
        font-size: 50px;
        width: 100px;
    }

    .lit {
        width: 45%;
    }

    .shop {
        width: 400px;
    }

    .fa-store {
        font-size: 50px;
        width: 80px;
    }

    .store {
        width: 200px;
        font-size: 30px;
    }

    .nav2 {
        height: 120px;
    }

    .logo {
        height: 60px;
        width: 200px;
    }

    .find {
        font-size: 30px;
        height: 70px;
        width: 600px;
    }

    .fa-magnifying-glass {
        font-size: 30px;
    }

    .div {
        width: 67%;
    }

    .fa-bag-shopping,
    .fa-user {
        font-size: 50px;
    }

    div#popup {
        width: 397%;
        height: 700px;
    }

    .div {
        font-size: 20px;
    }

    .banner {
        width: 397%;
    }

    .ban {
        height: 150px;
    }

    .section1 {
        height: 550px;
    }

    .section2 {
        height: 550px;
    }

    .spot {
        width: 397%;
        display: flex;
        flex-direction: column;
    }

    .light {
        font-size: 40px;
        width: 350px;
    }

    .ban1 {
        width: 397%;
    }

    .section3 {
        height: 550px;
    }

    .launch {
        width: 397%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .late {
        font-size: 40px;
        width: 570px;
    }

    .upto {
        font-size: 25px;
    }

    .sell {
        width: 397%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .best {
        font-size: 40px;
        width: 350px;
    }

    .pay {
        width: 397%;
    }

    .img15 {
        height: 180px;
    }

    .face {
        width: 397%;
        display: flex;
        flex-direction: column;
    }

    .category {
        font-size: 40px;
        width: 550px;
    }

    h4 {
        font-size: 30px;
    }

    .watch {
        width: 397%;
        display: flex;
        flex-direction: column;
    }

    .look {
        font-size: 40px;
        width: 450px;
    }

    .show {
        font-size: 25px;
    }

    .load {
        font-size: 25px;
        width: 540px;
    }

    .insta {
        font-size: 25px;
    }

    .beware {
        width: 397%;
    }

    .video1 {
        width: 397%;
    }

    .web {
        height: 800px;
    }

    .brand {
        font-size: 35px;
    }

    .footer {
        width: 397%;
        height: 130pc;
    }

    .LIP {
        font-size: 20px;
    }

    .sub {
        flex-direction: column;
    }

    .email {
        font-size: 40px;
    }

    input.text {
        height: 60px;
        width: 500px;
        font-size: 30px;
    }

    .btn {
        font-size: 15px;
        height: 50px;
        width: 200px;
    }

    .stay {
        font-size: 40px;
    }

    .fa-instagram,
    .fa-twitter,
    .fa-pinterest-p,
    .fa-youtube {
        font-size: 60px;
    }

    .mobile {
        font-size: 40px;
    }

    .down1 {
        height: 150px;
        width: 300px;
    }
}